*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(e1ddcf88b8ec17d88a6c1f5100cd1b71dd89274c.png);
  background-size: 190%;
  background-repeat: no-repeat, no-repeat;
  background-position: 28% 0%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body>* {
  background-color: #ffffffc5;
}
header{
  color: #FF1B6D;
  border-bottom: 10px solid #FF1B6D;
}
main{
  flex-grow: 1;
}
ul,li{
  list-style: none;
}
h1{
  margin: 0 1em;
}
.bank-box{
  background-color: #B5FF88;
  height: 50px;
  line-height: 50px;
}
#team1,#team2{
  /* height: 80px; */
  background-color: #191919;
  font-size: 3em;
  text-align: center;
}
.team1-button{
  width: 200px;
  height: 50px;
  background: #DB4BFF80;
  border: none;
  padding: 5px 10px;
}
.team2-button{
  width: 200px;
  height: 50px;
  background: #4BC9FF80;
  border: none;
  padding: 5px 10px;
}
.person{
  background-repeat: no-repeat;
  background-position: center 80px;
  min-width: 250px;
  min-height: 300px;
  display: none;
}
.comment-ok{
  background-image: url(comment-box.png);
  background-repeat: no-repeat;
  min-width: 450px;
  height: 180px;
  padding: 1em 1em;
  line-height: 80px;
  font-size: 30px;
}
.comment-no{
  background-image: url(comment-box.png);
  background-repeat: no-repeat;
  min-width: 450px;
  height: 180px;
  padding: 0.8em 8em 1em 2em;
  font-size: 30px;
  text-align: center;
}
